@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}


:root {
    --color-light-blue: #06BBCC;
}
.bg-pr{
   background-color: #b6e8eda5;
}

.text-light-blu {
    color: var(--color-light-blue);
}

.bg-lb {
    background-color: #8ebabe3f;
}

.bg-bl {
    background-color: var(--color-light-blue);
}

.f-s-1 {
    font-size: 50px;

}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 24, 67, 0.712);
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 5%;
  right: auto;

  transform: translateY(-50%); /* vertical center */
  
  text-align: left;
  max-width: 700px;

  z-index: 2;
  
  padding: 20px;
  border-radius: 10px;
}


.edu-card:hover {
    background-color: var(--color-light-blue);
    color: white;
    transform: translatey(-10px);
    transition: all 0.5s ease;
}

.edu-card:hover i {
    color: white;
}

.btn:hover a {
    color: black !important;
}

.about-card h4 {
    position: relative;
}

.about-img img {
    height: 450px !important;
    width: 450 !important;
}

.about-card h4::after {
    content: " ";
    width: 9%;
    height: 2px;

    background-color: #06BBCC;
    position: absolute;
    top: 10px;
    left: 110px;
}

.about-card h4::before {
    content: " ";
    width: 13%;
    height: 2px;

    background-color: #06BBCC;
    position: absolute;
    top: 20px;
    left: 110px;
}

.categri h4 {
    position: relative;
}

.categri h4::after {
    content: " ";
    width: 40px;
    height: 2px;

    background-color: #06BBCC;
    position: absolute;
    top: 10px;
    left: 60px;

}

.categri h4::before {
    content: " ";
    width: 60px;
    height: 2px;

    background-color: #06BBCC;
    position: absolute;
    top: 18px;
    left: 40px;

}

.categri h2 {
    position: relative;
}

.categri h2::after {
    content: " ";
    width: 60px;
    height: 2px;

    background-color: #06BBCC;
    position: absolute;
    top:  -16px;
    left: 250px;


}

.categri h2::before {
    content: " ";
    width: 40px;
    height: 2px;
    top: -24px;
    background-color: #06BBCC;
    position: absolute;
    left: 250px;


}
.cours-img{
    position: relative;
    overflow: hidden;
}
.web{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    
}
.cours-img:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease;
    
}
.cour-img{
    overflow: hidden;
}
.cour-img:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.pern{
    position: relative;
}
.desgin{
    width: 145px;
    position: absolute;
    top: -25px;
    left: 25%;
}
.hover-img:hover img{
      transform: scale(1.1);
    transition: all 0.5s ease;
}
.hover-img{
    overflow: hidden;
}