@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}


:root {
    --color-light-blue: #06BBCC;
}

.text-light-blu {
    color: var(--color-light-blue);
}

.bg-lb {
    background-color: #8ebabe3f;
}
.bg-bl{
    background-color: var(--color-light-blue);
}

.f-s-1 {
    font-size: 50px;
    
}

.edu-card:hover {
    background-color: var(--color-light-blue);
    color: white;
    transform: translatey(-10px);
    transition: all 0.5s ease;
}

.edu-card:hover i {
    color: white;
}

.btn:hover a{
    color: black !important;
}

.about-card h4{
    position: relative;
}
.about-img img{
    height: 450px !important;
    width: 450 !important;
}
.about-card h4::after {
    content: " ";
    width: 9%;
    height: 2px;
    
    background-color: #06BBCC;
    position: absolute;
    top: 10px;
    left: 110px;
}

.about-card h4::before {
    content: " ";
    width: 13%;
    height: 2px;
    
    background-color: #06BBCC;
    position: absolute;
    top: 20px;
    left: 110px;
}
